h2{
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}
p{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
}
body{
    background-color: blue;
    text-align: left;
}
ul{
    color: rgb(244, 247, 250);
    text-align: left;
}
a{
    color: aliceblue;
    text-align: left;
}
li{
    text-align: left;
}