body{
    background-color: blue;
}
h2{
    text-align: center;
    color: #f5eded;
}
img{
    width: 300px;
}
p{
    color: #f5eded;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}