*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    justify-content: space-evenly;
}
.img1{
    width: 30px;
}
header{
    /* background-image: linear-gradient(rgb(53, 52, 52)); */
    background-position: center;
    display: block;
    float: center;
    background-color: rgb(48, 47, 47);
    text-align: center;
    color: goldenrod;
    background-size: cover;
}
.img2{
    display: block;
    width: 40px;
    float: left;
}
p{
    display: block;
    text-align: center;
}
a{
    color: goldenrod;
    float: right;
    justify-content: space-evenly;
}
.container1{
    max-width: 1200px;
    border: 1px solid white;
    height: 300px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
    justify-content: space-evenly;
    
}
.container2{
    max-width: 1200px;
    border: 1px solid white;
    height: 300px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
    justify-content: space-evenly;
    text-align: center;

}
.child{
    width: 200px;
    height: 400px;
    
    
}
.child1{
    text-align: center;
}
.child2{
    text-align: center;
}
.child3{
    text-align: center;
}
img{
    width: 200px;
}
button{
    background-color: #eaea1b;
    border-color: white;
    color:white;
}
footer{
    background-color: grey;
}