body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.top-section,
.bottom-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.middle-text {
    margin-bottom: 20px;
}

.img-left,
.img-right {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.text p,
.middle-text p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #333;
}

@media (max-width: 7px) {
    .top-section,
    .bottom-section {
        flex-direction: column;
    }

    .img-left,
    .img-right {
        width: 10%;
    }
}
