*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
table{
    width:700px;
    margin:auto;
    text-align: center;
    margin: top 200px;
}
table{
    border:2px solid black;
    padding:10px;
    border-collapse: collapse;
}
th,td{
    border: 2px solid black;
    padding:10px;
}